#mainBanner {
    width: 100%;
    height: 100vh;
    background-image: url(Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.nav-link {
    color: #835e3f;
}

.btn-lg {
    background-color: #716c53;
}

.btn-lg:hover {
    background-color: #4d4a3b
}

#cashHeading {
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #815837;
}

.text {
    color: #745235;
    font-size: 21px;
}

.heading {
    color: #815837;
}

@media (max-width: 1280px) {
    #mainBanner {
        height: 70vh;
    }
}

@media (max-width: 767px) {
    #mainBanner {
        height: 90vh;
    }

    #cashHeading {
        font-size: 40px;
        margin-top: none !important;
    }

    .text {
        color: #745235;
        font-size: 18px;
        margin-top: 10px !important;
    }

    .btn-lg {
        margin-top: 15px !important;
    }
}

/* our Team */
#outTeam {
    background-image: url(Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerText {
    width: 600px;
    margin: auto;
}

#outTeam .card {
    background-color: transparent;
    border: none;
}

#outTeam .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

@media (max-width: 767px) {
    #ourTeamText {
        width: 100%;
    }
}

#adPosterOne {
    background-image: url(Background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#adPosterTwo {
    background-image: url(Background3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#statics {
    background-color: #f8e0bb;
}

.boxx {
    border: 4px solid #716c53;
    width: 250px;
    height: 250px;
    border-radius: 50%;

    h1 {
        font-size: 80px;
    }

    h4 {
        color: #815837;
    }
}

#popularPakage {
    background-image: url(Background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#popularPakage .card {
    background-color: #f8e0bb;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

#popularPakage .card img {
    width: 150px;
    height: 150;
    margin: auto;
}

#aboutsection {
    background-image: url(Background5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}

#aboutsection {
    position: relative;
}

#aboutsection .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    P{
        width: 600px;
        margin: auto;
        font-size: 22px;
        color: white;
    }
    h3{
        color: white;
    }
}

#contactsection {
    background-color: #f5f1e4;
}
#contactsection .row{
    p{
        width: 40%;
        margin: auto;
    }

    button{
        background-color: #716c53;
        color: white;
    }
}
@media (max-width: 767px){
    #aboutsection .box p{
        width: 100%;
    }
    #contactsection .row p{
        width: 100%;
    }
}
.links{
    color: white;
    font-size: 50px;
}

.icons{
    font-size: 25px;
    padding: 3px 7px;
    border-radius: 50%;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footerDicOne{
    margin-right: 150px;
}
@media (max-width: 990px) {
    #footerDicOne{
        margin-right: 20px;
    }
}
@media (max-width: 767px) {
    #footer div{
        margin-top: 20px;
    }
}